html,body{
    background:url("./Images/backgroungOfGame.webp");
    position: relative;
    background-size: cover;
    /* height: 100%;
    width: 100%;} */
}
 
    .heading{
        background: #f8f9f9;
        padding: 0.2em;
        position: absolute;
        color: black;
        font-size: 1.7em;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        margin-left:35rem;
        margin-top:15rem;
      
 }